.edit-account-page {
    margin: 1rem auto;
    border: 1px solid var(--dark-color);
    border-radius: 9px;
    padding: 1rem;
    width: 60%;
    background-color: var(--body-color);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.flex-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;
}

.small-select {
    width: 20% !important;
}

.row {
    align-items: center;
}

.column-file {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.column-file .form-label {
    width: 100%;
}

.flex-phones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-gap: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
    align-content: center;
    align-items: center;
}

.flex-phones .division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    grid-gap: .5rem;
    gap: .5rem;
    width: 50%;
}

.new-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: .4rem;
    margin: .8rem;
}

.flex-btn {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.trash{
    margin: 0 .5rem;
    color: var(--ligth-red);
}