*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--body-color);
}

a{
    color: var(--white-color) !important;
}

:root {
    --red: #e9052b;
    --ligth-red: #EF233C;
    --dark-color: #2B2D42;
    --white-color: #EDF2F4;
    --body-color: #FEFFFF;
}

/* Header */
.header {
    margin: 0 auto;
    width: 100%;
    vertical-align: baseline;
    color: #fff;
    background-color: var(--dark-color);
}

.header h1 {
    padding: 25px
}

.header-nav-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
}

.header-nav-link-left,
.header-nav-link-right {
    margin: 0 1rem;
}

.link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 .5rem;
}

.link:hover{
    color: var(--ligth-red);
}

.active-link {
    color: var(--white-color);
}


/* No Match */
.noMatch {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.noMatch div {
    text-align: center;
    font-size: 90px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: #ef233bd5;
}

.noMatch div small {
    text-align: center;
    font-size: 45px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: #2b2d42e8;
}