*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--body-color);
}

:root {
    --red: #D90429;
    --ligth-red: #EF233C;
    --dark-color: #2B2D42;
    --white-color: #EDF2F4;
    --body-color: #FEFFFF;
}

.container {
    margin: 100px auto;
    max-width: 900px;
    width: 90%;
}

.wrapper {
    background-color: #fff;
    color: black;
    padding: 40px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.app-div {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.border {
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    vertical-align: baseline;
    color: #fff;
    text-align: center;
    background-color: var(--dark-color);
}

.header h1 {
    padding: 25px
}

.tabs-div {
    display: flex;
    width: 100%;
    background-color: var(--white-color);
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    justify-content: space-evenly;
}

.tab {
    position: relative;
    padding: 5px 30px;
    background-color: var(--ligth-red);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    z-index: 1;
    color: rgb(226, 226, 226);
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.end {
    margin-left: 0 !important;
}

.tab-active {
    background-color: var(--dark-color) !important;
    color: var(--white-color);
    border-bottom: 3px solid var(--red);
}

.noMatch {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.noMatch div {
    text-align: center;
    font-size: 90px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: #ef233bd5;
}

.noMatch div small {
    text-align: center;
    font-size: 45px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: #2b2d42e8;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 30px 0;
}

.evenly {
    justify-content: space-evenly;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-self: auto;
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin: 20px;
    background-color: var(--white-color);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    text-align: center;
    justify-content: center;
}

.tab-title {
    border-bottom: 1px solid #eee;
    text-align: center;
}

.add-button,
.detail-button {
    border: none;
    background-color: var(--dark-color);
    font-size: 100px;
    padding: 15px;
    font-family: Geneva;
    color: white;
}

.add-button {
    flex-direction: row;
}

.add-button:hover,
.detail-button:hover {
    background-color: #3d405e;
}

.add-button:focus,
.add-button:active,
.detail-button:focus,
.detail-button:active {
    background-color: #4c4f74;
    outline: none;
}

.detail-button {
    font-size: 1rem;
    align-self: center;
    border-radius: 30px;
    margin-top: 30px;
}

.small-flex-item {
    font-size: 30px !important;
    align-items: center;
    height: 30px !important;
    width: 100% !important;
    margin: 0 auto;
}