.full-screen {
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: calc(100vh - 64px);
  width: 100%;

  /* Background */
  background: url("../../assets/images/home-page-images/home.jpg") center center /
    cover no-repeat;
}