/* Envios Dashboard */

/* Menu */
.dashboard-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #525583;

}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    gap: .22rem;
}

.dark-dropdown {
    color: #EDF2F4 !important;
}

.account-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    gap: .22rem;
}

/* Dashboard */

.dashboard {
    margin: 2rem !important;
}

.dashboard-left-side-component {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 9px;
    color: whitesmoke;
}

.dashboard-right-side-component {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: .9rem;
    border-radius: 9px;
    color: whitesmoke;
}