.modal {
  display: none;
  background-color: rgba(18, 21, 44, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-body {
  background-color: #EDF2F4;
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
}

.modal-open {
  display: grid;
}

input {
  width: 100%;
  border-radius: 15px;
  padding: 12px;
  font-size: 13px;
  border: 1px solid rgba(119, 119, 119, 0.44);
  margin: 7px 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid rgba(7, 85, 252, 0.44);
}

.small-input {
  width: 30%;
  border-radius: 15px;
  padding: 12px;
  font-size: 13px;
  border: 1px solid rgba(119, 119, 119, 0.44);
  margin: 7px 0;
}

textarea {
  width: 100%;
  border-radius: 15px;

  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
  resize: none;
  font-style: 13px;
  height: 90px;
}

input[type=checkbox],
input[type=radio] {
  width: 30%;
  padding: 12px;
  font-size: 13px;
}

.buttons {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: none;
  color: #FFFFFF;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  background-color: var(--red);
}

.button-edit,
button[type=submit] {
  background-color: var(--dark-color);
}

.button-close {
  border-radius: 30px;
  padding: 6px 15px;
}

select {
  width: 100%;
  border-radius: 15px;
  padding: 12px;
  font-size: 13px;
  border: 1px solid rgba(119, 119, 119, 0.44);
  margin: 7px 0;
}

.grid-direction {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    ". . .";
}

.grid-direction input {
  width: 100% !important;
}

label {
  display: block;
  margin: 10px auto;
}

.flex-container-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 5px 0;
}

.flex-container-modal label {
  margin: auto 10px;
}

.success {
  background-color: #04AA6D;
}

.danger {
  background-color: #f44336;
}

.toast {
  color: white;
  padding: 8px;
  font-style: italic;
  width: fit-content;
  border-radius: 15px;
  margin: 4px;
  /* display: none; */
}

#able {
  text-align: center;
}

#able input[type=radio] {
  width: fit-content !important;
  margin: 20px !important;
}

.radio {
  display: contents;
}

.add-product {
  height: inherit;
  margin: 22px auto 8px auto !important;
}

.grid-products {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    ". . . .";
  justify-content: center;
}

.grid-products li {
  list-style: none;
  padding: 8px;
  margin: 8px;
}

sup {
  color: #04AA6D;
  font-style: italic;
}

.b-submit {
  width: 100%;
  border-radius: 15px;
  margin: 0 !important;
  font-size: 16px;
}

.b-submit:hover {
  background-color: #3d405e;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

td{
  text-align: center;
  border: 1px solid #2b2d423b;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: var(--dark-color);
  color: white;
  text-align: center;
}

.mg{
  margin: 15px auto;
}